body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.btn{
    border-radius:10px;
}

.navbar-brand{
    font-size:24px;
    font-weight:bold;
}

.form-control{
    border-radius:10px;
}

h2,h3{
    font-weight:bold;
}